body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #0a0f1c;
    color: rgb(17 144 183);
}

header {
    background-color: #121826;
    padding: 15px;
    border-radius: 70px;
    display: flex; /* Ustawia elementy w jednej linii */
    align-items: center; /* Wyrównuje obrazek i tekst pionowo */
    gap: 10px; /* Dystans między obrazkiem a tytułem */
}
    
header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
    
header h1 {
    color: rgb(17 144 183);
    font-size: 30px;
    margin: 0; /* Usuwa domyślne marginesy */
}
    
nav {
    margin-left: auto; /* Wypycha menu do prawej strony */
    padding-right: 15px;
    font-size: 18px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 5px;

}

nav ul li a {
    color: rgb(170 56 63);
    text-decoration: none;
}

.hero {
    padding: 50px;
}

.hero h2 span {
    color: #4caf50;
}

.btn {
    display: inline-block;
    background: #4caf50;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

main {
    flex: 1; /* Wypycha stopkę na dół */
}
footer {
    margin-top: 20px;
    padding: 10px;
    background: #121826;
    
}
